*.log
*.aux
*.synctex.gz
*.DS_Store
*.toc
lab.cpython-36.pyc
Michelson\michelson.pdf
Laser-a-diodo\Laser-diodo.pdf
Olografia\olografia.pdf
Fibre-ottiche\fibre-ottiche.pdf
Analizzatore-di-spettro\analizzatore-spettro.pdf
Analizzatore-di-spettro\\analizzatore-spettro.pdf
Analizzatore-di-spettro/analizzatore-spettro.pdf
Visibile\visibile.pdf
Duplicatore\Duplicatore.pdf
Logbook\Logbook.pdf
Logbook/Logbook.pdf
\Logbook\Logbook.pdf
/Logbook/Logbook.pdf
*/Logbook.pdf
*\Logbook.pdf
Logbook.pdf
/Logbook.pdf
\Logbook.pdf
*book.pdf
relazioni-lab-ottica-quantistica\Logbook\Logbook.pdf
\relazioni-lab-ottica-quantistica\Logbook\Logbook.pdf
relazioni-lab-ottica-quantistica/Logbook/Logbook.pdf
/relazioni-lab-ottica-quantistica/Logbook/Logbook.pdf
