*.log
*.aux
*.synctex.gz
*.DS_Store
*.toc
lab.cpython-36.pyc
aMichelson\michelson.pdf
aLaser-a-diodo\Laser-diodo.pdf
aOlografia\olografia.pdf
aFibre-ottiche\fibre-ottiche.pdf
aAnalizzatore-di-spettro\analizzatore-spettro.pdf
aVisibile\visibile.pdf
aDuplicatore\duplicatore.pdf
