*.log

*.aux

*.synctex.gz

*.DS_Store
Michelson\michelson.pdf
Michelson/michelson.pdf
Laser a diodo/Laser a diodo.pdf
Laser a diodo\Laser a diodo.pdf
Analizzatore di spettro\analizzatore-spettro.pdf
Analizzatore di spettro/analizzatore-spettro.pdf